<!DOCTYPE html>
    <html>
        <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Safeput</title>
        </head>

        <body>
        
            <div style="margin-top: 150px" class="container">

                <h3>Eposta Gönder</h3>
                
                <hr>

                <form action="epostaGonder" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">Başlık</label>
                        <input type="text" name="kadi" class="form-control" id="formGroupExampleInput">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Mesaj</label>
                        <input type="password" name="sifre" class="form-control" id="formGroupExampleInput">
                    </div>

                    {% comment %} <div class="form-group">
                        <label for="formGroupExampleInput">Firmalar</label>
                
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>İlgili Firma Seçimi Yapın</option>
                            
                            {% if firmalar %}
                                {% for ilgiliFirma in firmalar %}
                                    <option value="{{ ilgiliFirma.id }}">{{ ilgiliFirma.ad }}</option>        
                                {% endfor %}
                            {% else %}
                                <option value="firma_bulunamadi">Firma Bulunamadı!</option> 
                            {% endif %}

                        </select>
            
                    </div> {% endcomment %}

                    <div class="form-group">
                        <label for="formGroupExampleInput">İş</label>
                
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>İlgili İş Seçimi Yapın</option>
                            
                            {% if isler %}
                                {% for ilgiliIs in isler %}
                                    <option value="{{ ilgiliIs.id }}">{{ ilgiliIs.ad }}</option>        
                                {% endfor %}
                            {% else %}
                                <option value="is_bulunamadi">İş Bulunamadı!</option>  
                            {% endif %}

                        </select>
            
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Bağlantı</label>
                        <input type="password" name="sifre" class="form-control" id="formGroupExampleInput">
                    </div>

                    <button type="submit" class="btn btn-danger">Giriş</button>
                </form>

        <hr>

            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </body>

</html>