<!DOCTYPE html>
    <html>
        <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Safeput</title>
        </head>

        <body>
        
            <div class="container">

                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="anasayfa">
                        <img src="https://image.flaticon.com/icons/svg/118/118739.svg" width="30" height="30" alt=""> Geri Dön
                    </a>
                </nav>

                <h3>Kayıtlı Firmalar</h3>
                

                    {% if firmalar %}

                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Ünvan</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">E-Posta</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for firma in firmalar %}

                                    {% if firma.aktifmi %}

                                        <tr>
                                            <th scope="row"> {{ firma.id }} </th>
                                            <td> {{ firma.unvan }} </td>
                                            <td> {{ firma.telefon }} </td>
                                            <td> {{ firma.eposta }} </td>

                                            <td><a href="/firmaDetay/{{firma.id}}" class="btn btn-warning">Detay</td>
                                            <td><a href="/firmaDuzenle/{{firma.id}}" class="btn btn-primary">Düzenle</td>
                                            <td><a href="/firmaSil/{{firma.id}}" class="btn btn-danger">Sil</td>
                                        </tr>

                                    {% endif %}

                                {% endfor %}

                            </tbody>
                        </table>
                    
                    {% else %}

                        <div class="alert alert-danger">
                            Kayıt bulunamadı.
                        </div>

                    {% endif %}

                <hr>

                <a href="firmaEkle" class="btn btn-primary"> Yeni Firma Ekle </a>

            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </body>

</html>