<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Safeput</title>
    </head>

    <body>

        <div class="container">
            <h3>Güvenlik Videosu</h3>

            <hr>

            <video name='demo' controls autoplay width='100%' height='100%'>
                <source src="https://r1---sn-p5qlsndr.googlevideo.com/videoplayback?expire=1561963541&ei=tFcZXbCJO8POjASsy4vACg&ip=172.241.146.60&id=o-ABNVy3pGGcYfV7x0bLslupSfvKkjt0Z_s-ww4K1yBu5b&itag=18&source=youtube&requiressl=yes&mm=31%2C26&mn=sn-p5qlsndr%2Csn-5ualdn7y&ms=au%2Conr&mv=u&pl=23&mime=video%2Fmp4&gir=yes&clen=14921396&ratebypass=yes&dur=164.815&lmt=1561722631693654&mt=1561940843&fvip=1&beids=9466587&c=WEB&txp=2211222&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=ALgxI2wwRQIhAOsfA78TZCmAPa3J-e32zzEjrhTVtlreZOumNZpYTF2lAiApjatB9CnMBtR8cJPUm6WzpZ1FlDvAUCzUoU6egzHUTA%3D%3D&lsparams=mm%2Cmn%2Cms%2Cmv%2Cpl&lsig=AHylml4wRAIgQAJlMPu7qC319g4UWr6NaT-b_8ZOlW3O7UUwJ1Oy2pcCIGFcf01N5IFlObUf_I8M4lsql7V5FhPaNIGai_IwxASz&video_id=UZ63uyYHK7g&title=Sustainability+Talks+by+Kordsa+-+Safety+-+İş+Güvenliği" type="video/mp4">
            </video>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>