<!DOCTYPE html>
    <html>
        <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Safeput</title>
        </head>

        <body>
        
            <div class="container">

                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/firmaDetay/{{ firma.id }}">
                        <img src="https://image.flaticon.com/icons/svg/118/118739.svg" width="30" height="30" alt=""> Geri Dön
                    </a>
                </nav>

                <h3>İş Ekle</h3>

                {% if alert %}

                    {% if alertState %}

                        <div class="alert alert-success">
                            {{ alert }}
                        </div>

                    {% else %}
                        <div class="alert alert-danger">
                            {{ alert }}
                        </div>

                    {% endif %}
                
                {% endif %}

                {% comment %} {% endif %} {% endcomment %}

                <form action="/isEkle/{{ firma.id }}" method="post">

                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="formGroupExampleInput">Ad</label>
                        <input type="text" name="ad" class="form-control" id="formGroupExampleInput">
                    </div>
                    
                    <div class="form-group">
                        <label for="formGroupExampleInput">Tanım</label>
                        <input type="text" name="tanim" class="form-control" id="formGroupExampleInput">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Fatura Numarası</label>
                        <input type="text" name="fatura_no" class="form-control" id="formGroupExampleInput">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Güvenlik Seviyesi</label>
                
                        <select class="custom-select" id="inputGroupSelect01" name="guvenlik_seviye">
                            <option selected value="0">Güvenlik Seviyesi Seçimi Yapın</option>
                            
                            {% if seviyeler %}
                                {% for seviye in seviyeler %}
                                    <option value="{{ seviye.id }}">{{ seviye.ad }}</option>        
                                {% endfor %}
                            {% else %}
                                <option value="seviye_yok">Güvenlik Seviyesi Bulunamadı!</option>
                            {% endif %}

                        </select>
                    </div>
{% comment %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">Firma</label>
                
                        <select class="custom-select" id="inputGroupSelect01" name="firma_id">
                            <option selected value="0">Firma Seçimi Yapın</option>

                            {% if firmalar %}
                                {% for firma in firmalar %}
                                    {% if firma.aktifmi %}
                                        <option value="{{ firma.id }}">{{ firma.unvan }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option value="firma_yok">Firma Bulunamadı!</option>
                            {% endif %}

                        </select>
                    </div>
{% endcomment %}
                    <hr>

                    <button type="submit" name="ekle" value="ekle" class="btn btn-danger">Ekle</button>
                    

                </form>

            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </body>

</html>